
h1{
    text-align: center;
    color: black;
    /* text-shadow: 0 0 15px #a4ebf7; */
    /* font-family: "Lucida Handwriting",cursive; */
    /* margin-bottom:50px; */
    /* padding-bottom: 50px; */
}
.zzz{
    margin-top: 10px;
    text-align: right;
    margin-right:70px;
    margin-top:30px;
}
#email{
    margin-right:40px !important;
    
}
#aadhar{
    margin-right:35px !important;
}
 
form>div>label{
    color: black;
    margin-right:10px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px #a4ebf7;
}
form>div>input{
    background-color: #f0f0f0;
    margin-top: 20px;
    transition: border-color 0.3s ease-in-out;
    width: 300px;
}
    .box1{
        background: white;
        width: 230%;
        padding-top: 13px;
        margin-left:100px;
        margin-top:50px;
        margin-right:100px;
        padding-bottom: 30px;
        box-shadow: 0 0 20px 5px #a4ebf7, inset 0 0 20px 5px #a4ebf7;
        border-radius: 10px;
        height:500px;
    }
/* .neon-text{
    display:inline-block;
    position: relative;
    font-size: 3vw;
    color: transparent;
} */
/* .neon-text::before{
    content:attr(data-text);
    position:absolute;
    top:0;
    left:0;
    width:100% ;
    height:100%;
    color: #a4ebf7;
    text-shadow: 0 0 13px #a4ebf7;
    border-right: 2px solid #a4ebf7;
    overflow:hidden;
    white-space:nowrap;
    animation: animate 7s linear infinite;
} */
/* @keyframes animate
{
    0%,100%
    {
        width: 0;
    }
    70%,90%{
        width: 100%;
    }
}
  */
#aaa{
    display: flex;
    gap:50px;
    align-items: center;
    justify-content: center;
}
 
.firstimage button{
    border-radius: 10px;
    padding:5px;
    border: 2px solid #091a49;
    color: white;
    background: #091a49;
    margin-top: 20px;
}
.firstimage button:hover {
    background: #a4ebf7;
    transition: 0.5s;
    color: #091a49;
   
}
.button1{
    margin-left:395px;
}